<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Головна</title></head>
<body>
<h1>📚 Бібліотека</h1>
<ul>
  <li><a href="/books">Книги</a></li>
  <li><a href="/book/add">Додати книгу</a></li>
  <li><a href="/authors">Автори</a></li>
  <li><a href="/author/add">Додати автора</a></li>
  <li><a href="/genres">Жанри</a></li>
  <li><a href="/genre/add">Додати жанр</a></li>
  <li><a href="/readers">Читачі</a></li>
  <li><a href="/reader/add">Додати читача</a></li>
  <li><a href="/borrow">Взяти книгу</a></li>
  <li><a href="/borrowings">Видані книги</a></li>
</ul>
</body>
</html>
